#map {
	height: 500px;
    width:815px; 
    padding: 0 12px;
    margin-left: 10px;
    float:left;
      }
    
#main{
	height: 680px; 
      } 
   
html, body {
	height: 100%;
    margin: 0;
    padding: 0;
      }
      
#legend {
	font-family: Arial, sans-serif;
    padding: 0 auto;
    margin: 0 auto;
    width: 130px;
    margin-right: 150px;
    float:right
}

#legend h3 {
	margin-top: 0;
	font-family: Helvetica, sans-serif; 
	font-size: 22px;
	color: lightblue;
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px;
}

#legend img {
	vertical-align: middle;
}

.keepmiddle {
	margin: 0 auto;
	padding: 0 12px;
	width: 960px;
	margin-left: 0px;
}