<!doctype html>
<html>

	<head> 
	
	<title> Simple map </title>
	<meta name ="viewport" content="initial-scale=1.0">
	<meta charset="utf-8">
	<style>
	
	#map {
		display:block;
	    height:500px;
	    width:900px;
	    margin: 0 auto;
	    max-width:900px;
	    box-sizing: border-box;
	}
	
	html, body {
		
		height: 100%;
		margin:0;
		padding:0;
	}
	
	</style>
	
	<body> 
	
		<div id="map"> </div>
		<script>
		
			var map;
			var mapCanvas;
			
			function initMap() {
					
				mapCanvas = document.getElementById("map");
					
				var mapOptions = {
				panControl: true,
				zoomControl: true,
				mapTypeControl: true,
				scaleControl: true,
				streetViewControl: true,
				overviewMapControl: true,
				rotateControl: true,
				center: {lat: 53.344083, lng: -6.267015},
				zoom: 13
				    
				};
					
				var map = new google.maps.Map(mapCanvas, mapOptions);
				
			}
		
		</script>
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrfrNjwY0sHKDOFgPcORCx6xRrLzBtgbI&callback=initMap"
		async defer> </script>
	
	</body>
	</head>
</html>