{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  <h1> stations table </h1>
  {% for station in station_info %}
    <li><h2>{{ station.id }}</h2>{{ station.number }}{{ station.name|safe }}{{ station.address|safe }}{{ station.latitude }}{{ station.longitude }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  
  
  <h1> dynamic table </h1>
  {% for dynamic in dynamic_info %}
    <li><h2>{{ dynamic.id }}</h2>{{ dynamic.number }}{{ dynamic.status|safe }}{{ dynamic.bike_stands }}{{ dynamic.available_bike_stands }}{{ dynamic.available_bikes }} {{ dynamic.last_update | safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  
  </ul>
{% endblock %}